services:
  mysql:
    image: mysql:8.0
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
      # Test non root user
      MYSQL_USER: test
      MYSQL_PASSWORD: test
    volumes:
      - mysql_data:/var/lib/mysql
      # In case we need an .sql as entrypoint for schemas and stuff:
      - /db/init.sql
    networks:
      - core_service_network
  api:
    build:
      ## --platform=linux/amd64 is for M1 MACS
      ## --platform=linux/x86-64 is probably for anything else :P.
      dockerfile: Dockerfile
      context: .
    depends_on:
      - mysql
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    ports:
      - 3000:3000
    networks:
      - core_service_network
volumes:
  mysql_data:
    driver: local
networks:
  core_service_network:
    driver: bridge
    name: core_service_network